{
    "*.js": ["prettier --write", "eslint --fix"],
    "*.jsx": ["prettier --write", "eslint --fix"],
    "*.ts": ["prettier --write", "eslint --fix"],
    "*.tsx": ["prettier --write", "eslint --fix"],
    "*.scss": ["prettier --write"],
    "*.css": ["prettier --write"],
    "*.html": ["prettier --write", "eslint --fix"]
}