## Build Pipeline - Build, publish container image, and update helmfile config
resources:
  repositories:
    - repository: templates
      type: github
      endpoint: spydersoft-gh
      name: spydersoft-consulting/azure-devops-templates
    - repository: helmfileconfig
      type: github
      endpoint: spydersoft-gh
      name: spydersoft-consulting/techradar-helm-config

trigger:
  tags:
    include:
    - "*"
  branches:
    include:
      - main
      - feature/*
  paths:
    exclude:
      - README.md

pr:
  branches:
    include:
      - main

extends:
  template: pipelines/build-bff/v1.yml@templates
  parameters:
    gitVersionSpec: '6.0.x'
    buildProject: src/Spydersoft.TechRadar.Frontend/Spydersoft.TechRadar.Frontend.csproj
    publishProject: src/Spydersoft.TechRadar.Frontend/Spydersoft.TechRadar.Frontend.csproj
    uiSourceDirectory: src/techradar-ui
    artifactName: techradar-frontend
    netCoreVersion: "9.0.x"
    artifactZipName: Spydersoft.TechRadar.Frontend
    dockerImageName: spydersoft-consulting/techradar-frontend
    dockerFilePath: Dockerfile
    containerRegistryName: github-spydersoft-docker
    imageTagVariableName: frontend
    helmfileRepoName: helmfileconfig
    externalFeedCredentials: SpydersoftGithub
    #if it's a PR or build from main, don't update helmfile config or build/publish docker image
    ${{ if or(eq(variables['Build.Reason'], 'PullRequest'), eq(variables['Build.SourceBranchName'], 'main')) }}:
      updateHelmConfig: false
      buildAndPublishDockerImage: false
      bffExecuteSonar: true
      uiExecuteSonar: true
    ${{ else }}:
      updateHelmConfig: true
      buildAndPublishDockerImage: true
      bffExecuteSonar: false
      uiExecuteSonar: false
    
    bffExecuteTests: true
    bffTestProjects: "**/*.Tests/*.csproj"
    bffUseSonarCloud: true
    bffSonarCloudOrganization: spydersoft-consulting
    bffSonarEndpointName: sonarcloud-spydersoft
    bffSonarProjectName: spydersoft-consulting_techradar-bff
    bffSonarProjectKey: spydersoft-consulting_techradar-bff
    bffSonarExtraProperties: |
      sonar.projectKey=spydersoft-consulting_techradar-bff
      sonar.sources=**/src/Spydersoft.TechRadar.Frontend/
      sonar.tests=**/src/Spydersoft.TechRadar.Frontend.Tests/
      sonar.exclusions=**/src/techradar-ui/**/*
      sonar.scanner.scanAll=false
      sonar.coverage.exclusions=**/*Program.cs,**/*Controller.cs         

    uiSonarEndpointName: sonarcloud-spydersoft
    uiSonarCloudOrganization: spydersoft-consulting
    uiUseSonarCloud: true
    uiSonarConfigFile: react-sonar-project.properties
    uiCodeCoverageFile: src/techradar-ui/output/coverage/cobertura-coverage.xml
    uiUnitTestFile: src/techradar-ui/output/test/junit.xml
