/* Override PrimeIcons font paths to use fonts from public directory */
@font-face {
    font-family: 'primeicons';
    font-display: block;
    src: url('/fonts/primeicons.eot');
    src: url('/fonts/primeicons.eot?#iefix') format('embedded-opentype'), 
         url('/fonts/primeicons.woff2') format('woff2'), 
         url('/fonts/primeicons.woff') format('woff'), 
         url('/fonts/primeicons.ttf') format('truetype'), 
         url('/fonts/primeicons.svg?#primeicons') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Override Inter font family to use Google Fonts instead of local files */
:root {
  font-family: "Inter", sans-serif;
  --font-family: "Inter", sans-serif;
}
