/* PrimeReact Theme */
@import 'primereact/resources/themes/lara-light-blue/theme.css';

/* PrimeReact Core */
@import 'primereact/resources/primereact.min.css';

/* PrimeIcons */
@import 'primeicons/primeicons.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles for React Tags*/
div.ReactTags__tags {
  @apply relative;
}

/* Styles for the input */
div.ReactTags__tagInput {
  @apply inline-block;
}
div.ReactTags__tagInput input.ReactTags__tagInputField,
div.ReactTags__tagInput input.ReactTags__tagInputField:focus {
  margin: 0.25em;
  border-radius: 5px;
  border: 1px solid theme-color("primary");
}

/* Styles for selected tags */
div.ReactTags__selected span.ReactTags__tag {
  border: 1px solid #ddd;
  background: theme-color("secondary");
  color: color-yiq(theme-color("secondary"));
  display: inline-block;
  padding: 0.25em;
  margin: 0 5px;
  border-radius: 5px;
}
div.ReactTags__selected a.ReactTags__remove {
  color: theme-color("danger");
  margin-left: 5px;
  cursor: pointer;
}

/* Styles for suggestions */
div.ReactTags__suggestions {
  position: absolute;
}
div.ReactTags__suggestions ul {
  list-style-type: none;
  box-shadow: 0.05em 0.01em 0.5em rgba(0, 0, 0, 0.2);
  background: white;
  width: 200px;
}
div.ReactTags__suggestions li {
  border-bottom: 1px solid #ddd;
  padding: 5px 10px;
  margin: 0;
}
div.ReactTags__suggestions li mark {
  text-decoration: underline;
  color: color-yiq(theme-color("light"));
  background: none;
  font-weight: 600;
}
div.ReactTags__suggestions ul li.ReactTags__activeSuggestion {
  background: theme-color("light");
  color: color-yiq(theme-color("light"));
  cursor: pointer;
}
